@charset "UTF-8";

/*
    Paleta de cores
    #2CA4BF - Azul claro
    #30B1BF - Azul clarinho
    #260101 - Preto
    #F2F2F2 - Branco
    #BFBFBF - Cinza

*/

:root {
    --azul-clarinho: #30B1BF;
    --azul-claro: #2CA4BF;
    --preto: #260101;
    --branco: #F2F2F2;
    --cinza: #BFBFBF;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--azul-clarinho);

    height: 100vh;
    width: 100vw;
}

main {
    position: relative;

    height: 100vh;
    width: 100vw;

    margin: auto;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--branco);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    width: 250px;
    height: 500px;
    border-radius: 20px;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    background: var(--azul-clarinho) url(../imagens/pexels-david-underland-3523621.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;

}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;

    font-size: 2em;
}

div#form > p {
    font-size: 0.8em;
}